
<div class="kg" id="lo-homepage-no-ads-section">
  <div class="r u fs">
    <div class="kg" id="lo-homepage-no-ads">
    <div class="ft er u">
    <div class="fu u">
      <h2 class="cm cn fv fw fx fy fz ga gb gc gd ge au">
    <div class="kg" id="lo-homepage-no-ads-title">No ads.
    <div class="ak fj"><br>
    </div> <!-- -->No problems.
  </div>
</h2>
</div>
<h3 class="aq ar dw fb dy fc fd fe ff fg fh fi dg">
    <div class="kg" id="lo-homepage-no-ads-sub-title">Your privacy stays yours. We don’t sell your data or target you with ads. Ever.
    </div></h3></div>
  <div class="v gf gg db gh">
    <div class="u gi fp gj">
    <div class="gk u gl"><h2 class="aq dv dw dx dy dz ea eb ec ed ee ef au">
    <div class="kg" id="lo-homepage-no-ads-body-title">We do things differently.</div></h2></div><h3 class="aq ar dw fb dy fc fd fe ff fg fh fi dg">
    <div class="kg" id="lo-homepage-no-ads-body-text">Medium is not like any other platform on the internet.<!-- --> <span class="fr fa">Our sole purpose is to help you find compelling ideas, knowledge, and perspectives.</span> <!-- -->We don’t serve ads—we serve you, the curious reader who loves to learn new things. Medium is home to thousands of independent voices, and we combine humans and technology to find the best reading for you—and filter out the rest.
    </div></h3></div>
  <div class="u gi gm gn go gp"><a href="https://medium.com/m/signin?operation=register&amp;redirect=https%3A%2F%2Fmedium.com%2F&amp;source=--------------------------landing_home_mission-" class="av aw ax ay az ba bb bc bd be bf bg bh bi bj bk" rel="noopener">
    <div class="kg" id="lo-homepage-get-started-button">
    <div class="bn bo bp bq br bs bt bu bv bh bw bx be aq b by eh dn cb ei cd ce cf ej">Get started</div></div></a></div></div><hr class="gq gr gs gt gu gv gw gx gy gz ha hb">
  </div></div></div>