.dialog-cnt {
    max-width: 25vw !important;
}

.form-field {
    width: 100% !important;
}

.form-btns-wrapper {
    float: right;
}

.form-bnt {
    height: 33px;
    width: 70px;
    margin: 10px;
    box-shadow: none;
    border: 1px solid lightslategrey;
}